<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задачи | WorkSwap Admin</title>
    <link href="/css/admin/pages/tasks-page.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" href="/favicon.ico">
</head>
<body>
<div class="admin-layout">
    <!-- Сайдбар -->
    <aside th:replace="~{fragments/admin/admin-sidebar :: admin-sidebar}" class="admin-sidebar"></aside>

    <!-- Основной контент -->
    <main class="admin-main">
        <header class="admin-header">
            <h1>Задачи</h1>
            <div class="admin-user">
                <span th:text="${user.name}">Администратор</span>
                <img th:src="${user.avatarUrl}"
                        class="account-avatar"
                        alt="Аватар"
                        th:onerror="this.src='/images/avatar-placeholder.png'">
            </div>
        </header>
        <nav class="breadcrumbs">
            <a href="/admin/dashboard">Панель управления</a>
            <span> / </span>
            <span href="/admin/tasks">Задачи</span>
        </nav>
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2>Задачи</h2>
                    </div>
                    <button onclick="openModal()" class="btn-admin btn-admin-primary btn-overlay">
                        <i class="fas fa-plus"></i> Добавить задачу
                    </button>
                </div>
                
                <div class="task-container">
                    <div class="tasks-list-container">
                        <div class="tasks-list-header">
                            <h3>Новые задачи</h3>
                        </div>
                        <div class="tasks-by-user">
                            <article th:each="task : ${tasks}" th:if="${task.status == T(org.kirya343.main.model.Task.Status).NEW}">
                                <div th:replace="~{fragments/admin/tasks :: taskItem(NEW)}"></div>
                            </article>
                        </div>
                    </div>
                    <div class="tasks-list-container left-border-tasks">
                        <div class="tasks-list-header">
                            <h3>Задачи в работе</h3>
                        </div>
                        <div th:if="${executor.tasks != null and !executor.tasks.isEmpty()}" th:each="executor : ${executors}" class="tasks-by-user">
                            <h4 th:text="${executor.name}"></h4>
                            <article th:each="task : ${executor.tasks}" th:if="${task.status == T(org.kirya343.main.model.Task.Status).IN_PROGRESS}">
                                <div th:replace="~{fragments/admin/tasks :: taskItem(IN_PROGRESS)}"></div>
                            </article>
                        </div>
                    </div>
                </div>

                <div class="task-container" style="margin-bottom: 500px;">
                    <div class="tasks-list-container">
                        <div class="tasks-list-header">
                            <h3>Отменённые задачи</h3>
                        </div>
                        <div class="tasks-by-user">
                            <article th:each="task : ${tasks}" th:if="${task.status == T(org.kirya343.main.model.Task.Status).CANCELED}">
                                <div th:replace="~{fragments/admin/tasks :: taskItem(CANCELED)}"></div>
                            </article>
                        </div>
                    </div>
                    <div class="tasks-list-container left-border-tasks">
                        <div class="tasks-list-header">
                            <h3>Выполненные задачи</h3>
                        </div>
                        <div class="tasks-by-user">
                            <article th:each="task : ${tasks}" th:if="${task.status == T(org.kirya343.main.model.Task.Status).COMPLETED}">
                                <div th:replace="~{fragments/admin/tasks :: taskItem(COMPLETED)}"></div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- Модальное окно -->
<div id="adminModal" class="modal-overlay">
    <div class="admin-modal">
        <div class="admin-modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Добавить задачу</h2>
            <form method="post" style="gap: 0.5rem" action="/admin/tasks/create">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            
            <div class="form-group">
                <label for="taskName">Название:</label>
                <input type="text" id="taskName" name="taskName" required>
            </div>
            
            <div class="form-group">
                <label for="taskDescription">Описание(как можно подробнее):</label>
                <textarea id="taskDescription" name="taskDescription" rows="2"></textarea>
            </div>

            <div class="form-group">
                <label for="taskDescription">Тип задания:</label>
                <select name="taskType" id="taskType" class="form-control" required>
                    <option value="" selected>Тип задания</option>
                    <option th:each="taskType : ${taskTypes}"
                            th:value="${taskType}"
                            th:text="${taskType.displayName}">
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="deadline">Дедлайн:</label>
                <input type="date" id="deadline" name="deadline" class="form-control" required>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-outline-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>

<script src="/js/components/admin-modal.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>