/* Кнопки */
.btn-admin {
    padding: 0.5rem 1rem;
    border-radius: var(--radius);
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 0.9rem;
    height: 100%;
}

.button-actions {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.btn-admin-primary {
    background-color: var(--primary);
    color: var(--white);
}

.btn-admin-primary:hover {
    background-color: var(--primary-dark);
}

.btn-admin-danger {
    background-color: #ef4444;
    color: var(--white);
}

.btn-admin-danger:hover {
    background-color: #dc2626;
}

.btn-admin-confirm {
    background-color: #56d661;
    color: var(--white);
}

.btn-admin-confirm:hover {
    background-color: #40b64a;
}

.btn-admin-secondary {
    background-color: var(--border-color);
    color: var(--dark);
}

.btn-admin-secondary:hover {
    background-color: #d1d5db;
}

.btn-overlay {
    position: absolute;
    z-index: 10;
    height: auto;
    transform: translateY(-18px) translateX(-5px);
}