<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости | WorkSwap Admin</title>
    <link href="/css/admin/pages/list-page.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="icon" href="/favicon.ico">
</head>
<body>
<div class="admin-layout">
    <!-- Сайдбар -->
    <aside th:replace="~{fragments/admin/admin-sidebar :: admin-sidebar}" class="admin-sidebar"></aside>

    <!-- Основной контент -->
    <main class="admin-main">
        <header th:replace="~{fragments/admin/admin-page-components :: adminHeader}"></header>
        <nav class="breadcrumbs">
            <a href="/admin/dashboard">Панель управления</a>
            <span> / </span>
            <span href="/admin/news">Управление объявлениями</span>
        </nav>
        <div class="card">
            <div class="card-body">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <h2>Список Объявлений</h2>
                    </div>
                </div>
                <table class="admin-table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th></th>
                        <th>Название</th>
                        <th>Автор</th>
                        <th>Дата публикации</th>
                        <th>Статус</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="listing : ${listings}">
                        <td th:text="${listing.id}">#0000</td>
                        <td>
                            <img th:src="@{${listing.imagePath}}" th:onerror="this.src='/images/default-listing.png'" alt="Изображение" class="avatar p23-avatar">
                        </td>
                        <td th:text="${listing.localizedTitle}">Имя</td>
                        <td th:text="${listing.author.name}">Email</td>
                        <td th:text="${#temporals.format(listing.createdAt, 'dd.MM.yyyy HH:mm')}">дд.мм.гггг</td>
                        <td>
                            <span class="badge" 
                                  th:classappend="${listing.active} ? 'bg-success' : 'bg-secondary'"
                                  th:text="${listing.active} ? 'Активно' : 'Не активно'">
                                Статус
                            </span>
                        </td>
                        <td>
                            <div class="button-actions">
                                <a th:href="@{/admin/listings/view/{id}(id=${listing.id})}" 
                                class="btn-admin btn-admin-primary mr-1">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a th:href="@{/admin/listings/delete/{id}(id=${listing.id})}" 
                                class="btn-admin btn-admin-danger"
                                onclick="return confirm('Удалить это объявление?');">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(listings)}">
                        <td colspan="6" class="text-center">Нет объявлений</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>