<aside class="admin-sidebar" th:fragment="admin-sidebar">
    <div class="text-center mb-4">
        <a href="/catalog">
            <h2 class="admin-logo">WorkSwap Admin</h2>
        </a>
    </div>

    <!-- сайдбар -->
    <nav th:replace="~{fragments/admin/admin-sidebar :: admin-sidebar-links(${activePage})}"></nav>
</aside>

<nav class="admin-nav" th:fragment="admin-sidebar-links(activePage)">

    <div class="admin-nav-title">Основное</div>

    <a href="/admin/dashboard" 
        class="admin-nav-item" 
        th:classappend="${activePage == 'dashboard'} ? ' active'">
        <i class="fas fa-tachometer-alt"></i> Панель управления
    </a>

    <a href="/admin/listings" 
        class="admin-nav-item" 
        th:classappend="${activePage == 'admin-listings'} ? ' active'">
        <i class="fas fa-list"></i> Объявления
    </a>

    <a href="/admin/resumes" 
        class="admin-nav-item" 
        th:classappend="${activePage == 'admin-resumes'} ? ' active'">
        <i class="fas fa-file-alt"></i> Резюме
        <i class="fa-solid fa-square-xmark" style="color: red;"></i>
    </a>

    <a href="/admin/users" 
        class="admin-nav-item" 
        th:classappend="${activePage == 'admin-users'} ? ' active'">
        <i class="fas fa-users"></i> Пользователи
    </a>

    <div class="admin-nav-title">Контент</div>
    <a href="/admin/news" 
        class="admin-nav-item" 
        th:classappend="${activePage == 'admin-news'} ? ' active'">
        <i class="fas fa-newspaper"></i> Новости
    </a>

    <a href="#" class="admin-nav-item">
        <i class="fas fa-comments"></i> Отзывы
        <i class="fa-solid fa-square-xmark" style="color: red;"></i>
    </a>

    <a href="#" class="admin-nav-item">
        <i class="fas fa-question-circle"></i> Вопросы
        <i class="fa-solid fa-square-xmark" style="color: red;"></i>
    </a>


    <div class="admin-nav-title">Настройки</div>

    <a href="#" class="admin-nav-item">
        <i class="fas fa-cog"></i> Системные
        <i class="fa-solid fa-square-xmark" style="color: red;"></i>
    </a>

    <a href="#" class="admin-nav-item">
        <i class="fas fa-language"></i> Локализация
        <i class="fa-solid fa-square-xmark" style="color: red;"></i>
    </a>

    <div class="admin-nav-title">Настройки данных</div>

    <a href="/admin/locations" 
        class="admin-nav-item" 
        th:classappend="${activePage == 'admin-locations'} ? ' active'">
        <i class="fas fa-users"></i> Локации
    </a>

    <a href="/admin/categories" 
        class="admin-nav-item" 
        th:classappend="${activePage == 'admin-categories'} ? ' active'">
        <i class="fas fa-users"></i> Категории
    </a>
</nav>