<div class="language-toggle" th:fragment="langSwitcher">
    <input type="checkbox" id="langToggle">
    <label for="langToggle" class="lang-wrapper">
        <div class="lang-button">
            <img th:src="@{/images/flags/__${#locale.language}__.png}" alt="Current language" class="flag-icon">
        </div>
        <div class="lang-dropdown">
            <a href="?lang=ru" th:classappend="${#locale.language == 'ru'} ? 'active'">
                <img src="/images/flags/ru.png" alt="RU" class="flag-icon">
                <span>Русский</span>
            </a>
            <a href="?lang=fi" th:classappend="${#locale.language == 'fi'} ? 'active'">
                <img src="/images/flags/fi.png" alt="FI" class="flag-icon">
                <span>Suomi</span>
            </a>
            <a href="?lang=en" th:classappend="${#locale.language == 'en'} ? 'active'">
                <img src="/images/flags/en.png" alt="EN" class="flag-icon">
                <span>English</span>
            </a>
            <a href="?lang=it" th:classappend="${#locale.language == 'it'} ? 'active'">
                <img src="/images/flags/it.png" alt="IT" class="flag-icon">
                <span>Italiano</span>
            </a>
        </div>
    </label>
</div>