<!-- Компонент типов цен -->
<span class="price" th:switch="${listing.priceType}" th:fragment="priceTypes">
    <span th:case="'negotiable'" th:text="#{price.negotiable}">Договорная</span>
    <span th:case="'per_hour'" th:text="${listing.price} + ' ' + #{price.per-hour}">Цена</span>
    <span th:case="'per_day'" th:text="${listing.price} + ' ' + #{price.per-day}">Цена</span>
    <span th:case="'fixed'" th:text="${listing.price} + ' ' + #{price.fixed}">Цена</span>
    <span th:case="*">Цена не указана</span>
</span>

<!-- Компонент типов категорий объявления -->
<span th:with="key='listing.category.' + ${listing.category.name}" th:text="#{${key}}" th:fragment="categoryTypes"></span>

<!-- Компонент кнопки загрузки файлов -->
<div class="upload-controls" th:fragment="uploadControls">
    <input type="file" id="image" name="image" accept="image/*" onchange="updateFileName()">
    <label for="image" class="btn btn-outline-primary" th:text="#{listing.editing.image.button.select}">Выбрать файл</label>
    <span class="file-name" th:text="#{listing.editing.image.file.not.selected}">Файл не выбран</span>
</div>