<!-- Компонент типов цен -->
<span class="price" th:switch="${listing.priceType}" th:fragment="priceTypes">
    <span th:case="'negotiable'" th:text="#{price.negotiable}">Договорная</span>
    <span th:case="'per_hour'" th:text="${listing.price} + ' ' + #{price.per-hour}">Цена</span>
    <span th:case="'per_day'" th:text="${listing.price} + ' ' + #{price.per-day}">Цена</span>
    <span th:case="'fixed'" th:text="${listing.price} + ' ' + #{price.fixed}">Цена</span>
    <span th:case="*">Цена не указана</span>
</span>

<!-- Компонент типов категорий объявления -->
<span th:with="key='category.' + ${listing.category.name}" th:text="#{${key}}" th:fragment="categoryTypes"></span>

<!-- Компонент кнопки загрузки файлов -->
<div class="upload-controls" th:fragment="uploadControls">
    <input type="file" id="image" name="image" accept="image/*" onchange="updateFileName()">
    <label for="image" class="btn btn-outline-primary" th:text="#{listing.editing.image.button.select}">Выбрать файл</label>
    <span class="file-name" th:text="#{listing.editing.image.file.not.selected}">Файл не выбран</span>
</div>

<!-- Компонент для отсчёта времени -->
<span th:fragment="timeCounter(duration)" th:if="${duration != null}" th:text="
    ${duration.toDays() >= 1} ?
        ${duration.toDays()} + ' д.' :
    (${duration.toHours() >= 1} ?
        ${duration.toHours()} + ' ч.' :
    (${duration.toMinutes() >= 1} ?
        ${duration.toMinutes()} + ' мин.' :
        ${duration.getSeconds()} + ' сек.'))"></span>

<!-- Компонент для аватаров ${user, size, class} -->
<img th:fragment="avatar(user, size, class)" 
     th:class="${class} + ' avatar p' + ${size} + '-avatar'" 
     th:src="@{${user.avatarUrl}}" 
     style="cursor: pointer;" 
     th:onclick="|window.location.href='/profile/' + ${user.id}|"
     onerror="this.src='/images/avatar-placeholder.png'" 
     alt="Аватар">