<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{title.terms}">Условия использования | WorkSwap</title>
    <link href="/css/public/pages/terms-page.css" rel="stylesheet">
    <link rel="icon" href="/favicon.ico">
</head>
<body>
<header>
    <div th:replace="fragments/public/header :: header(${activePage})"></div>
</header>

<!-- Основной контент -->
<div class="container py-5">
    <h1 class="text-center mb-4" th:text="#{terms}">Условия использования</h1>

    <section>
        <h2 th:text="#{terms.section1.title}"></h2>
        <p th:text="#{terms.section1.p1}"></p>
        <p th:text="#{terms.section1.p2}"></p>
    </section>

    <section>
        <h2 th:text="#{terms.section2.title}"></h2>
        <p th:text="#{terms.section2.p1}"></p>
        <p th:text="#{terms.section2.p2}"></p>
    </section>

    <section>
        <h2 th:text="#{terms.section3.title}"></h2>
        <p th:text="#{terms.section3.p1}"></p>
        <p th:text="#{terms.section3.p2}"></p>
        <p th:text="#{terms.section3.p3}"></p>
        <p th:text="#{terms.section3.p4}"></p>
    </section>

    <section>
        <h2 th:text="#{terms.section4.title}"></h2>
        <p th:text="#{terms.section4.p1}"></p>
        <p th:text="#{terms.section4.p2}"></p>
        <p th:text="#{terms.section4.p3}"></p>
    </section>

    <section>
        <h2 th:text="#{terms.section5.title}"></h2>
        <p th:text="#{terms.section5.p1}"></p>
        <p th:text="#{terms.section5.p2}"></p>
    </section>

    <section>
        <h2 th:text="#{terms.section6.title}"></h2>
        <p th:text="#{terms.section6.p1}"></p>
        <p th:text="#{terms.section6.p2}"></p>
    </section>

    <section>
        <h2 th:text="#{terms.section7.title}"></h2>
        <p th:text="#{terms.section7.p1}"></p>
        <p th:text="#{terms.section7.p2}"></p>
        <p th:text="#{terms.section7.p3}"></p>
        <p th:text="#{terms.section7.p4}"></p>
    </section>

    <section>
        <h2 th:text="#{terms.section8.title}"></h2>
        <p th:text="#{terms.section8.p1}"></p>
        <p th:text="#{terms.section8.p2}"></p>
    </section>

    <section>
        <h2 th:text="#{terms.section9.title}"></h2>
        <p th:text="#{terms.section9.p1}"></p>
        <p th:text="#{terms.section9.p2}"></p>
    </section>

    <section>
        <h2 th:text="#{terms.section10.title}"></h2>
        <p th:text="#{terms.section10.p1}"></p>
    </section>

    <!-- <h1 class="text-center mb-4" th:text="#{terms}">Условия использования</h1>

    <section>
        <h2 th:text="#{terms.section1.title}"></h2>
        <p th:text="#{terms.section1.p1}"></p>
        <p th:text="#{terms.section1.p2}"></p>
    </section> -->
</div>
<!-- Файл общих импортов -->
<th:block th:replace="~{fragments/global-imports :: globalImports}" />
</body>
</html>
