@import url(../components/base.css);
@import url(../components/header.css);
@import url(../components/lang-switcher.css);
@import url(../../variables.css);

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    background-color: var(--white);
}

p {
    margin: 1rem;
}