@import url(../../public/components/base.css);
@import url(main-admin-page.css);

.task-add-btn {
    transform: translateY(-18px) translateX(311px);
}

.task-container {
    border-style: solid;
    border-width: 4px;
    border-radius: var(--radius);
    border-color: var(--primary-light);
    display: flex;
    flex-direction: row;
    height: 400px;
    width: auto;
    z-index: 5;
}

.tasks-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tasks-list {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.left-border-tasks {
    border-style: solid;
    border-width: 0 0 0 2px;
    border-color: var(--primary-light);
}

.tasks-by-user {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.tasks-list-header {
    background-color: var(--primary-light);
    color: var(--light);
    text-align: center;
    padding: 0.5rem;
}

.tasks-list-header h3 {
    margin: 0;
}

.task-item {
    min-width: 400px;
    cursor: pointer;
    min-height: 50px;
    position: relative;
}

.task-text-item {
    white-space: nowrap;       /* Запрещает перенос строк */
    overflow: hidden;          /* Обрезает переполнение */
    text-overflow: ellipsis;
    display: inline-block;
}

.task-item:hover {
    background-color: var(--light-gray);
}

.task-actions {
    position: absolute;
    display: none;
    right: 0.5rem;
    transform: translateY(-1rem);
}

.task-item:hover .task-actions {
    display: block;
}

.task-comment-actions {
    position: absolute;
    display: none;
    right: 3.5rem;
    transform: translateY(-0.5rem);
}

.task-comment-card:hover .task-comment-actions {
    display: block;
}

.task-details-container {
    width: 300px;
}
.task-comments-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 0.5rem;
}

.task-details {
    background-color: white;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    max-width: 100%;
    
    visibility: hidden;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;

    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}



.task-details.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); /* <- нормальное положение */
}

.task-comment-card {
    background-color: white;
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--radius);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    max-width: 100%;
    position: relative;
    
    visibility: hidden;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;

    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.task-comment-card.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0); /* <- нормальное положение */
}

.task-detail {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.task-detail-label {
    font-weight: 600;
}

.global-tasks-container {
    display: flex; 
    flex-direction: row;
    width: 100%;
    gap: 1rem;
}

.admin-table td {
    padding: 0.5rem;
    max-width: 240px;
    white-space: nowrap;    
    overflow: hidden;        
    text-overflow: ellipsis;
    text-align: left;
}